
h1{
    font-size: 24px;
    text-align:center;
    margin: 10px;
    margin-bottom: 30px;
    font-weight: bolder;
}
h3{
    font-size: 18px;
    font-weight:bold;
    color:black;
    border-radius: 10px;   
    padding: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 2px 2px 5px rgba(204, 7, 7, 0.76)

}
body{
    font-family: Arial, sans-serif;
    background-color: #74bdb9;
    margin: 0;
    padding: 30px;
}
.left-section{
    width: 25%;
    padding: 35px;
    margin:10px;
    background-color:rgb(166, 226, 226);
    color: white;
    text-align: center;
    border-radius: 10px 0 0 10px;
    justify-content: space-between;
    height:auto;
}
.profile-picture{
    width: 150px;
    height: 150px;
    margin-bottom:20px;
    margin-top: 10px;
    border-radius: 50%;
    border:3px solid white;
}

.right-section{
    padding: 20px;
    width: 70%;
    flex-direction:column;
    justify-content: space-between;
    
}
ul{
    list-style-type: square;
    padding: 10px;
    margin: 10px;
}
ul li{
    margin:5px;
}
p{
    font-size: 17px;
    line-height:1.5;
    margin: 10px 0;
}
.Resume-container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    background-color:floralwhite;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.1);
    border-width: 10px;
    border-color:lightgray;
    border-radius: 10px;
    align-items:stretch;
    justify-content: space-between;
}

button{
    font-family: Arial, sans-serif;
    border-radius: 10px;
    font-size:14px;
    margin-top: 10px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    align-self:flex-start;
}
button:hover{
    background-color: #ff737c;
    color: white;
}



